.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    margin: 20px 20px;
}

.contact-title {
    position: relative;
}

.contact-title h2 {
    padding: 0px 30px;
    font-size: 40px;
    font-weight: 600;
}

.contact-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
    font-size: 22px;
}

.contact-detail p {
    color: white;
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.contact-right label {
    color: white;
    font-size: 22px;
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .contact-section {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .contact-left {
        width: 40%;
    }

    .contact-right {
        width: 40%;
    }
}