.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 20px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    cursor: pointer;
}


